<div class="wrapper" *ngIf="show" [style.background-color]="backgroundcolor">
    
  <div class="glass-wrapper"  *ngIf="'false'">
      <div class="glass">
        <div class="beer">
          <div class="foam"><span class="foambubble"></span><span class="foambubble"></span><span class="foambubble"></span><span class="foambubble"></span><span class="foambubble"></span></div>
          <div class="bubbles"><span class="bubble"></span><span class="bubble"></span><span class="bubble"></span><span class="bubble"></span><span class="bubble"></span><span class="bubble"></span><span class="bubble"></span><span class="bubble"></span><span class="bubble"></span></div>
        </div>
      </div>
      <div class="foamtop"><span class="ft-bubble"></span><span class="ft-bubble"></span><span class="ft-bubble"></span><span class="ft-bubble"></span></div>
      <div class="coaster"></div>
    </div>
  
  
    <!--
  <div id="glass">
      <div id="beer"></div>
    </div>
    <div id="poignet"></div>
    <div id="mousse_1"></div>
    <div id="mousse_2"></div>
    <div id="mousse_3"></div>
    <div id="mousse_4"></div>
    <div id="mousse_5"></div>
    <div id="mousse_volante"></div>
    <div id="mousse_interieur"></div>
    <div id="mousse_interieur_2"></div>
    <div id="mousse_interieur_3"></div>
    <div id="mousse_interieur_4"></div>
  
    -->
    
  </div> 
  
  
    
    