<cfe-header [title]="'Dettaglio Cotta'"></cfe-header>


<ion-content>

  <ion-card>
    <ion-card-header>
       Valori Ultima Cotta
    </ion-card-header>
    <ion-card-content>
      <canvas #doughnutCanvas id="doughnutCanvas" style="position: relative; height:20vh; width:40vw"></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card  color="primary" (click)=" berrLoaderService.show()">
    <ion-card-header routerLink="ph-details">
      Analisi pH
    </ion-card-header>
   
  </ion-card>
  <ion-card color="primary" (click)=" berrLoaderService.show()">
    <ion-card-header routerLink="temperatura-details">
      Analisi Temperatura
    </ion-card-header>
   
  </ion-card>
  <ion-card color="primary" (click)=" berrLoaderService.show()">
    <ion-card-header routerLink="densita-details">
      Analisi Densità
    </ion-card-header>
   
  </ion-card>

</ion-content>
